
.zuo{float: left;background-color:#edeaf1;margin: 25px;width:650px;height: 250px; }
.a{float: left;background-color:#b5a2c8;width: 300px;height: 100px;}
.b{float:left;background-color:#b5a2c8;width: 300px;height: 100px;}
.c{background-color:#b5a2c8;width: 300px;height: 70px;}
div{margin: 10px}

.you{float: left;background-color: #edeaf1;margin:25px;width: 320px;height: 250px}

