*{margin: 0px;background-repeat: no-repeat;}
body{width: 1510px;}
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
ul{list-style: none;}

/*  版头设置   */

#bantou{height: 455px;width: 1200px;}
  .logo{padding-left: 85px;height: 411px;}
  .search{width: 1519px;background: #a3d0c3;height: 45px;margin-top: 0px;}
  .sou{width: 350px;display: inline;margin-left: 10px;}
    .denglu{display: inline;margin-left: 1050px}
    .denglu a{color:#1e4b58;}
    .denglu a:hover{color: gray;}
    .shuru{display: inline;width: 200px;height: 30px;border: 2px solid #7ba7ab;border-radius: 5px;outline: none;background: #f9f0da;margin-top:5px;margin-left:
                      0px;padding-left: 10px ; }
    .ss{ ;height: 33px;width: 50px;border: none;background: #7ba7ab;border-radius: 5px 5px 5px 5px;cursor: pointer;color:#1e4b58 ;font-weight: bold;}

    #zhuti{width: 1519px;height:1800px;background-image: url(pi/zt1.jpg);}
    .dh{padding-top: 50px;float: left;}
    .dh ul {list-style-type: disc; margin-left: 45px;}
    .dh ul li{margin-bottom: 20px;padding: 0px}
    .dh ul li a{color:#4c8596 ;font-family: '幼圆';font-weight: bolder;}
    .dh ul li a:hover{color: #f18e77 ;background-repeat: no-repeat;}


    #zhuti p{color: #2d6a58}
    #zhuti p a{color: #559c87;}
    #zhuti p a:hover{color: #f18e77 }


    .ying {overflow: hidden;float: left;width: 750px;padding-top: 80px;padding-left: 150px;}
    .ying p{padding-top: 13px;padding-bottom: 8px;text-indent: 2em}
    .ying img{width: 600px;height: 380px;margin-left: 70px;margin-bottom: 3px}
    .ying a{color: gray;}
    .ying a:hover{color: #f18e77}

    .you{float: left;width: 200px;padding-top: 50px;padding-left: 140px;}
  	.you a img{width: 190px;height: 120px;border: 5px solid #588ccb;border-radius: 7px;background-color: #588ccb}
  	.you a {display: block;width: 200px;height: 150px;margin-bottom: 50px;color: gray;}
  	.you a:hover{color: #f18e77;}



  	#comment
{width:700px;
margin: 90px auto;}
#comment p{margin-bottom: 20px}
#comment_title{
	color: #565656;
	font-size: 23px;
	padding-top: 150px;
	margin-left: -50px;
	margin-bottom: 10px;
	
}
#comment_botton
{float: right;
margin-top: 20px;
}
#comment_botton input
{margin-left: 30px;}
#comments
{margin-top: 100px}
#comments_icon
{float: left;
width: 150px}
#comments_content
{float: left;
width: 350px;
margin-left: 50px;}
#comment_textarea
{width: 710px}
#comments_content div
{line-height: 20px;
background-image: url("../images/comments.png");
background-repeat: no-repeat;
height: 100px;
margin-left: -15px;
margin-top: 10px}












 .bottom
{width: 100%;
height: auto;
clear: both;}

#us{height: 100px;background-color: #5f5e5e;}

 .jia{height: 25px;width: 1000px;margin-left: 450px;color: white;padding-top: 50px}
  .jiao:hover{color: #e97459;}

 .jiao{padding-right: 10px;padding-left: 10px;color: white;}
#banquan{height: 50px;background-color: #000000;text-align: center;color: white;padding-top: 8px}