*{margin: 0px;background-repeat: no-repeat;}
body{width: 1510px;}

a:link{text-decoration: none;}
a:visited{text-decoration: none;}
ul{list-style: none;}

/*  版头设置   */

#bantou{height: 455px;width: 1200px;}
  .logo{padding-left: 85px;height: 411px;}
  .search{width: 1519px;background: #a3d0c3;height: 45px;margin-top: 0px;}
  .sou{width: 350px;display: inline;margin-left: 10px;}
    .denglu{display: inline;margin-left: 1050px}
    .denglu a{color:#1e4b58;}
     .denglu a:hover{color: gray;}
    .shuru{display: inline;width: 200px;height: 30px;border: 2px solid #7ba7ab;border-radius: 5px;outline: none;background: #f9f0da;margin-top:5px;margin-left:
                      0px;padding-left: 10px ; }
    .ss{ ;height: 33px;width: 50px;border: none;background: #7ba7ab;border-radius: 5px 5px 5px 5px;cursor: pointer;color:#1e4b58 ;font-weight: bold;}

#zhuti{width: 1519px;height: 420px;background-color: #f8f4e9;}
    .dh{padding-top: 50px;float: left;}
    .dh ul {list-style-type: disc; margin-left: 45px;}
    .dh ul li{margin-bottom: 20px;padding: 0px}
    .dh ul li a{color:#4c8596 ;font-family: '幼圆';font-weight: bolder;}
    .dh ul li a:hover{color: #f18e77 ;background-repeat: no-repeat;}
  .gq{width: 370px;height: 400px;float: left;background-image: url(pi/dashi2.png);background-repeat: no-repeat;margin-top: 20px;margin-left: 70px;
             padding-top: 20px;padding-left: 20px}
    .gq img{width: 350px;height: 350px;}
  .gq2{width: 730px;height: 400px;float: left;background-repeat: no-repeat;background-image: url(pi/dashi3.png);background-position: 100% 50%;
          margin-top: 12px;;;color:#7a7c7c;font-family: '微软雅黑';}
    .js{width: 600px;height: 230px;overflow: hidden;padding-top: 80px}
    .jie{font-weight: bolder;font-size: 40px;font-family: '幼圆';}



#zhuti2{width: 1519px;height: 750px;background-image: url(pi/zhuti2.png);}

    .zuo{;width:100px;height: 700px; float: right;margin-right: 100px;padding-top: 530px;}
    .zp{width: 1000px;height:650px;padding-top:0px;float: right;margin-right: 200px;padding-top: 100px}
        .shang{margin-top: 50px;width: 1000px;height: 115px}
        .shang ul li a{width: 180px;height: 115px;display: block;}
        .s1:hover{background-image: url(pi/1.png);background-position: 100% 100%;}
        .s2:hover{background-image: url(pi/2.png);background-position: 100% 100%;}
        .s3:hover{background-image: url(pi/3.png);background-position: 100% 100%;}
        .s4:hover{background-image: url(pi/4.png);background-position: 100% 100%;}
        .shang ul li a:hover img{opacity: 0;}
        .shang ul li{width: 180px;height: 115px;float: left;margin-right: 40px;border: 5px solid #0f4990;}
        .shang ul li img{width: 180px;height: 115px}


      .zhong {padding-top: 65px;margin-left: 400px;width: 800px;height: 115px}
       .zhong ul li a{width: 180px;height: 115px;display: block;}
        .s5:hover{background-image: url(pi/5.png);background-position: 100% 100%;}
        .s6:hover{background-image: url(pi/6.png);background-position: 100% 100%;}
        .s7:hover{background-image: url(pi/7.png);background-position: 100% 100%;}
        .zhong ul li a:hover img{opacity: 0;}
        .zhong ul li{width: 180px;height: 115px;float: left;margin-right: 40px;border: 5px solid #0f4990;}
        .zhong ul li img{width: 180px;height: 115px}

        .xia{margin-top: 70px;width: 1000px;height: 115px}
        .xia ul li a{width: 180px;height: 115px;display: block;}
        .s8:hover{background-image: url(pi/8.png);background-position: 100% 100%;}
        .s9:hover{background-image: url(pi/9.png);background-position: 100% 100%;}
        .s10:hover{background-image: url(pi/10.png);background-position: 100% 100%;}
        .s11:hover{background-image: url(pi/11.png);background-position: 100% 100%;}
        .xia ul li a:hover img{opacity: 0;}
        .xia ul li{width: 180px;height: 115px;float: left;margin-right: 40px;border: 5px solid #0f4990;}
        .xia ul li img{width: 180px;height: 115px}


#zhuti3{width: 1519px;height: 1050px;background-image: url(pi/zhuti3.jpg);}
    .mor{width: 0px;height: 0px;float: left;}
    .mor a img{display: block;padding-top: 243px;margin-left: 525px;float: left;}
    .ping1{width: 0px;height: 0}
    .ping1 p{;width: 650px;height: 160px;overflow: hidden;margin-top: 350px;margin-left: 680px;color: #595957;float: left;background-color:  #9eb8ec;border-radius: 7px}
    .ping1 a {display: block;float: left;width: 110px;height: 110px;}
        .ping a img{}
        .ping1 a:hover img{opacity: 0;}
        .ping1 a:hover{background-image: url(pi/p1.png);background-position: 100% 100%;}
    .ping2{width: 700px;height: 150px;overflow: hidden;padding-top: 35px;margin-left: 162px}
        .p1{display: block;float: left;width: 500px;height: 150px;color:#595957;margin-left: 20px ;background-color: #f18e77;border-radius: 7px}
        .p2 a:hover img{opacity: 0;}
        .p2 a:hover{background-image: url(pi/p2.png);background-position: 100% 100%;}
        .p2 a{width: 110px;height: 110px;float: left;}
       .p2{width: 110px;height: 110px;float: left;} 

    .ping3{width: 700px;height: 150px;overflow: hidden;margin-left: 685px;}
        .p3{float: left;}
        .p3 a:hover img{opacity: 0;}
        .p3 a:hover{background-image: url(pi/p3.png);background-position: 100% 100%;}
        .p3 a{width: 110px;height: 110px;float: left;}
        .p31{float: left;display: block;width: 500px;height: 100px;color:#595957;background-color: #9eb8ec;border-radius: 7px}


    .ping4{width: 700px;height: 150px;overflow: hidden;margin-left: 162px}
        .p41{display: block;float: left;width: 500px;height: 110px;color:#595957;margin-left: 20px ;background-color: #f18e77;border-radius: 7px}
        .p4 a:hover img{opacity: 0;}
        .p4 a:hover{background-image: url(pi/p4.png);background-position: 100% 100%;}
        .p4 a{width: 110px;height: 110px;float: left;}
       .p4{width: 110px;height: 110px;float: left;} 

    .bottom
{width: 100%;
height: auto;
clear: both;}

#us{height: 100px;background-color: #5f5e5e;}

 .jia{height: 25px;width: 1000px;margin-left: 450px;color: white;padding-top: 50px}
  .jiao:hover{color: #e97459;}

 .jiao{padding-right: 10px;padding-left: 10px;color: white;}
#banquan{height: 50px;background-color: #000000;text-align: center;color: white;padding-top: 8px}

  
 
    



  
 
		


